src/IsIT.B2B.DocumentsServiceTest/Service References/DocumentServiceProxy/DocumentService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://IcelandicOnlineBanking/2012/04/13/Documents" elementFormDefault="qualified" targetNamespace="http://IcelandicOnlineBanking/2012/04/13/Documents" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://ws.b2b.is/Documents/20130101/DocumentService.svc?xsd=xsd1" namespace="http://IcelandicOnlineBanking/2012/04/13/DocumentTypes" />
  <xs:element name="UploadDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://IcelandicOnlineBanking/2012/04/13/DocumentTypes" minOccurs="0" maxOccurs="1" name="Document" type="q1:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="DocumentID" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://IcelandicOnlineBanking/2012/04/13/DocumentTypes" minOccurs="0" maxOccurs="1" name="Query" type="q2:DocumentResultQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://IcelandicOnlineBanking/2012/04/13/DocumentTypes" minOccurs="0" maxOccurs="1" name="DocumentResult" type="q3:DocumentResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentsResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://IcelandicOnlineBanking/2012/04/13/DocumentTypes" minOccurs="0" maxOccurs="1" name="Query" type="q4:DocumentsResultQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentsResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://IcelandicOnlineBanking/2012/04/13/DocumentTypes" minOccurs="0" maxOccurs="1" name="DocumentResults" type="q5:ArrayOfDocumentResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>