src/IsIT.B2B.DocumentsServiceTest/Service References/DocumentServiceProxy/DocumentService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://IcelandicOnlineBanking/2012/11/01/Exceptions" elementFormDefault="qualified" targetNamespace="http://IcelandicOnlineBanking/2012/11/01/Exceptions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IOBSFault">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GeneralErrorCode" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="GeneralErrorText" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="BanksErrorCode" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="BanksErrorText" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="GeneralSourceText" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="GeneralSourceCode" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>