src/IsIT.B2B.ClaimService20131015Test/Service References/ClaimServiceProxy/ClaimService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://IcelandicOnlineBanking/2013/10/15/Claims" elementFormDefault="qualified" targetNamespace="http://IcelandicOnlineBanking/2013/10/15/Claims" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://ws-int.b2b.is/Claims/20131015/ClaimService.svc?xsd=xsd1" namespace="http://IcelandicOnlineBanking/2013/10/15/ClaimTypes" />
  <xs:element name="CreateClaims">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Claims" type="tns:ArrayOfClaim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfClaim">
    <xs:sequence>
      <xs:element xmlns:q1="http://IcelandicOnlineBanking/2013/10/15/ClaimTypes" minOccurs="0" maxOccurs="unbounded" name="Claim" nillable="true" type="q1:Claim" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateClaimsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="CreateClaimsResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterClaims">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Claims" type="tns:ArrayOfClaim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterClaimsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="AlterClaimsResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelClaims">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Keys" type="tns:ArrayOfClaimKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfClaimKey">
    <xs:sequence>
      <xs:element xmlns:q2="http://IcelandicOnlineBanking/2013/10/15/ClaimTypes" minOccurs="0" maxOccurs="unbounded" name="ClaimKey" nillable="true" type="q2:ClaimKey" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CancelClaimsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="CancelClaimsResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateClaim">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://IcelandicOnlineBanking/2013/10/15/ClaimTypes" minOccurs="0" maxOccurs="1" name="Claim" type="q3:Claim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateClaimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://IcelandicOnlineBanking/2013/10/15/ClaimTypes" minOccurs="0" maxOccurs="1" name="CreateClaimResult" type="q4:ClaimOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterClaim">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://IcelandicOnlineBanking/2013/10/15/ClaimTypes" minOccurs="0" maxOccurs="1" name="Claim" type="q5:Claim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterClaimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://IcelandicOnlineBanking/2013/10/15/ClaimTypes" minOccurs="0" maxOccurs="1" name="AlterClaimResult" type="q6:ClaimOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelClaim">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://IcelandicOnlineBanking/2013/10/15/ClaimTypes" minOccurs="0" maxOccurs="1" name="Key" type="q7:ClaimKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelClaimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://IcelandicOnlineBanking/2013/10/15/ClaimTypes" minOccurs="0" maxOccurs="1" name="CancelClaimResult" type="q8:ClaimOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClaimOperationResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Id" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClaimOperationResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://IcelandicOnlineBanking/2013/10/15/ClaimTypes" minOccurs="0" maxOccurs="1" name="GetClaimOperationResultResult" type="q9:ClaimOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryClaims">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://IcelandicOnlineBanking/2013/10/15/ClaimTypes" minOccurs="0" maxOccurs="1" name="Query" type="q10:ClaimsQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryClaimsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://IcelandicOnlineBanking/2013/10/15/ClaimTypes" minOccurs="0" maxOccurs="1" name="QueryClaimsResult" type="q11:QueryClaimsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryClaim">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://IcelandicOnlineBanking/2013/10/15/ClaimTypes" minOccurs="0" maxOccurs="1" name="Key" type="q12:ClaimKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryClaimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://IcelandicOnlineBanking/2013/10/15/ClaimTypes" minOccurs="0" maxOccurs="1" name="QueryClaimResult" type="q13:ClaimInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryPayments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://IcelandicOnlineBanking/2013/10/15/ClaimTypes" minOccurs="0" maxOccurs="1" name="Query" type="q14:PaymentsQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryPaymentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://IcelandicOnlineBanking/2013/10/15/ClaimTypes" minOccurs="0" maxOccurs="1" name="QueryPaymentsResult" type="q15:QueryPaymentsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReCreateClaim">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://IcelandicOnlineBanking/2013/10/15/ClaimTypes" minOccurs="0" maxOccurs="1" name="Claim" type="q16:Claim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReCreateClaimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://IcelandicOnlineBanking/2013/10/15/ClaimTypes" minOccurs="0" maxOccurs="1" name="ReCreateClaimResult" type="q17:ClaimOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReCreateClaims">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Claims" type="tns:ArrayOfClaim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReCreateClaimsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ReCreateClaimsResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkClaimForSecondaryCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://IcelandicOnlineBanking/2013/10/15/ClaimTypes" minOccurs="0" maxOccurs="1" name="Key" type="q18:ClaimKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkClaimForSecondaryCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://IcelandicOnlineBanking/2013/10/15/ClaimTypes" minOccurs="0" maxOccurs="1" name="MarkClaimForSecondaryCollectionResult" type="q19:ClaimOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkClaimsForSecondaryCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Keys" type="tns:ArrayOfClaimKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkClaimsForSecondaryCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="MarkClaimsForSecondaryCollectionResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryClaimTransactions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://IcelandicOnlineBanking/2013/10/15/ClaimTypes" minOccurs="0" maxOccurs="1" name="Key" type="q20:ClaimKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryClaimTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://IcelandicOnlineBanking/2013/10/15/ClaimTypes" minOccurs="0" maxOccurs="1" name="QueryClaimTransactionsResult" type="q21:ClaimTransactionsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>