src/IsIT.B2B.AccountServiceTest/Service References/Account20130101Proxy/AccountService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.b2b.is/Accounts/2013/01/01/AccountService" elementFormDefault="qualified" targetNamespace="http://schemas.b2b.is/Accounts/2013/01/01/AccountService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://ws.b2b.is/Statements/20130101/AccountService.svc?xsd=xsd2" namespace="http://schemas.b2b.is/Accounts/2013/01/01/AccountTypes" />
  <xs:element name="GetAccounts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.b2b.is/Accounts/2013/01/01/AccountTypes" minOccurs="0" name="GetAccountsResult" nillable="true" type="q1:ArrayOfAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bank" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ledger" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accountNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.b2b.is/Accounts/2013/01/01/AccountTypes" minOccurs="0" name="GetAccountResult" nillable="true" type="q2:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountsByOwnerPersonId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ownerPersonId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountsByOwnerPersonIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.b2b.is/Accounts/2013/01/01/AccountTypes" minOccurs="0" name="GetAccountsByOwnerPersonIdResult" nillable="true" type="q3:ArrayOfAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bank" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ledger" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accountNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ownerPersonId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyAccountResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>