src/IsIT.B2B.AccountServiceTest/Service References/Account20130101Proxy/AccountService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.b2b.is/Accounts/2013/01/01/AccountTypes" elementFormDefault="qualified" targetNamespace="http://schemas.b2b.is/Accounts/2013/01/01/AccountTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAccount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Account" nillable="true" type="tns:Account" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccount" nillable="true" type="tns:ArrayOfAccount" />
  <xs:complexType name="Account">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bank" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ledger" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnerPersonId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsFit" type="xs:boolean" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Balance" nillable="true" type="tns:Amount" />
      <xs:element minOccurs="0" name="AccountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Details" nillable="true" type="tns:AccountDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Account" nillable="true" type="tns:Account" />
  <xs:complexType name="Amount">
    <xs:sequence>
      <xs:element minOccurs="0" name="Value" type="xs:decimal" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Amount" nillable="true" type="tns:Amount" />
  <xs:complexType name="AccountDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="OwnerAddress" nillable="true" type="tns:Address" />
      <xs:element minOccurs="0" name="Swift" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Iban" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AvailableAmount" nillable="true" type="tns:Amount" />
      <xs:element minOccurs="0" name="InterestRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="EstimatedInterestAmount" nillable="true" type="tns:Amount" />
      <xs:element minOccurs="0" name="AnnualTurnover" nillable="true" type="tns:Amount" />
      <xs:element minOccurs="0" name="LastYearTurnover" nillable="true" type="tns:Amount" />
      <xs:element minOccurs="0" name="LastTransactionDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InterestGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OverdraftAmount" nillable="true" type="tns:Amount" />
      <xs:element minOccurs="0" name="OverdraftInterestRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="OverdraftValidFrom" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OverdraftValidTo" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BuyingRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="SellingRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="TransactionCount" type="xs:int" />
      <xs:element minOccurs="0" name="AuthorizedSigner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fit" nillable="true" type="tns:FitInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountDetails" nillable="true" type="tns:AccountDetails" />
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Town" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCodeAndTown" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
  <xs:complexType name="FitInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="TotalAmount" nillable="true" type="tns:Amount" />
      <xs:element minOccurs="0" name="TotalInterests" nillable="true" type="tns:Amount" />
      <xs:element minOccurs="0" name="TotalCost" nillable="true" type="tns:Amount" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FitInfo" nillable="true" type="tns:FitInfo" />
</xs:schema>