src/IsIT.B2B.CreditCardServiceTest/Service References/CreditCard20130901Proxy/CreditCardService41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.b2b.is/CreditCards/2013/09/01/Faults" elementFormDefault="qualified" targetNamespace="http://schemas.b2b.is/CreditCards/2013/09/01/Faults" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BankErrorFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="GeneralErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GeneralErrorText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BanksErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BanksErrorText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GeneralSourceText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GeneralSourceCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BankErrorFault" nillable="true" type="tns:BankErrorFault" />
</xs:schema>