src/IsIT.B2B.CreditCardServiceTest/Service References/CreditCard20130901Proxy/CreditCardService42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.b2b.is/CreditCards/2013/09/01/CreditCardService" elementFormDefault="qualified" targetNamespace="http://schemas.b2b.is/CreditCards/2013/09/01/CreditCardService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://ws.b2b.is/CreditCards/20130901/CreditCardService.svc?xsd=xsd2" namespace="http://schemas.b2b.is/CreditCards/2013/09/01/CreditCardTypes" />
  <xs:element name="GetCreditCards">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditCardsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.b2b.is/CreditCards/2013/09/01/CreditCardTypes" minOccurs="0" name="GetCreditCardsResult" nillable="true" type="q1:ArrayOfCreditCard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cardId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.b2b.is/CreditCards/2013/09/01/CreditCardTypes" minOccurs="0" name="GetCreditCardResult" nillable="true" type="q2:CreditCardDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditCardTransactionsByDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cardId" type="xs:long" />
        <xs:element minOccurs="0" name="dateFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateTo" type="xs:dateTime" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditCardTransactionsByDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.b2b.is/CreditCards/2013/09/01/CreditCardTypes" minOccurs="0" name="GetCreditCardTransactionsByDateResult" nillable="true" type="q3:CreditCardTransactionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditCardTransactionsByDueDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cardId" type="xs:long" />
        <xs:element minOccurs="0" name="dueDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditCardTransactionsByDueDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.b2b.is/CreditCards/2013/09/01/CreditCardTypes" minOccurs="0" name="GetCreditCardTransactionsByDueDateResult" nillable="true" type="q4:CreditCardTransactionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditCardTransactions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cardId" type="xs:long" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditCardTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.b2b.is/CreditCards/2013/09/01/CreditCardTypes" minOccurs="0" name="GetCreditCardTransactionsResult" nillable="true" type="q5:CreditCardTransactionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>