src/IsIT.B2B.ForeignStatementServiceTest/Service References/ForeignStatementServiceProxy/ForeignStatementService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.b2b.is/2015/08/01/ForeignStatements" elementFormDefault="qualified" targetNamespace="http://schemas.b2b.is/2015/08/01/ForeignStatements" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost/IsIT.OnlineBanking.External.ServiceHost.ForeignPayments/20150801/ForeignStatementService.svc?xsd=xsd2" namespace="http://schemas.b2b.is/2015/08/01/ForeignStatementTypes" />
  <xs:element name="GetForeignAccountTransactions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.b2b.is/2015/08/01/ForeignStatementTypes" minOccurs="0" name="query" nillable="true" type="q1:ForeignAccountTransactionQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetForeignAccountTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.b2b.is/2015/08/01/ForeignStatementTypes" minOccurs="0" name="GetForeignAccountTransactionsResult" nillable="true" type="q2:ForeignAccountTransactionsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetForeignAccountStatements">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.b2b.is/2015/08/01/ForeignStatementTypes" minOccurs="0" name="query" nillable="true" type="q3:ForeignAccountStatementQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetForeignAccountStatementsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.b2b.is/2015/08/01/ForeignStatementTypes" minOccurs="0" name="GetForeignAccountStatementsResult" nillable="true" type="q4:ForeignAccountStatementResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetForeignAccounts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.b2b.is/2015/08/01/ForeignStatementTypes" minOccurs="0" name="query" nillable="true" type="q5:ForeignAccountsQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetForeignAccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.b2b.is/2015/08/01/ForeignStatementTypes" minOccurs="0" name="GetForeignAccountsResult" nillable="true" type="q6:ForeignAccountsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>